<template>
    <div>
        <h1 style="float: left">Groups</h1>
        <div style="clear: both"></div>
        <p style="margin-top: 5px; color: #999999">Backup Groups</p>
        <v-btn dark depressed color="#62929a" small>Create Group</v-btn>

        <div>
            <v-row no-gutters>
                <v-col style="background: #202225; border-radius: 5px;" v-for="(group) in this.groups" :key="group"
                       class="my-6 col-12 pa-4">
                    <h2 style="float: left" class="mb-2">{{group.name}}</h2>
                    <v-chip x-small
                            class="mx-1 ml-6 mt-2"
                            color="#354f52"
                    >
                        LogCount: {{group.logs.length}}
                    </v-chip>
                    <v-chip x-small
                            v-bind:style="[group.filetype == '.7z' ? {'background-color': '#84a98c !important'} : {'background-color': '#62929a!important'}]"

                            class="mx-1 mt-2"
                    >
                        Filetype: {{group.filetype}}
                    </v-chip>
                    <v-chip x-small
                            class="mx-1 mt-2"
                            v-bind:style="[group.compression > 4 ? group.compression > 7 ? {'background-color': '#F44336 !important'} : {'background-color': '#FFC107!important'} : {'background-color': '#8BC34A!important'}]"
                    >
                        Compression: {{group.compression}}
                    </v-chip>
                    <v-btn @click="editGroup(group)" style="float: right" dark depressed color="#62929a" small>Edit
                        Group
                    </v-btn>
                    <div style="clear: both"></div>
                    <p class="ma-0" style="float: left">Save to:</p>
                    <div class="mx-2 py-1 px-2"
                         style="font-size: 11px; background: #2f3136; border-radius: 5px; margin-bottom: 5px; float: left">
                        <span>{{group.to}}</span></div>
                    <div style="clear: both"></div>

                    <p class="ma-0">Paths:</p>
                    <div v-for="path in group.paths" :key="path" class="mr-2 py-1 px-2"
                         style="font-size: 11px; background: #2f3136; border-radius: 5px; margin-bottom: 5px; float: left">
                        <span>{{path}}</span>
                    </div>
                    <div style="clear: both"></div>
                    <v-btn @click="startBackup(group)" class="mt-2 mr-2" dark depressed color="#62929a" small>Start
                        Backup
                    </v-btn>
                    <v-btn @click="displayLogs(group)" class="mt-2 mr-2" dark depressed color="#62929a" small>Show Log</v-btn>
                </v-col>


            </v-row>


        </div>


        <v-dialog
                v-model="editGroupDialog"
                class="pa-4"
                persistent

        >
            <v-card dark color="#2f3136">
                <v-row no-gutters>
                    <v-col class="col-12 px-12 pt-12">
                        <h2>Edit Group</h2>
                        <p>Selected Group: {{selectedGroup.name}}</p>
                    </v-col>
                    <v-col class="col-4 px-12">
                        <p>Set your backup name</p>
                        <v-text-field
                                v-model="selectedGroup.name"
                                outlined
                                dense
                                label="Name"
                        ></v-text-field>

                        <p>Set your filetype</p>
                        <v-radio-group class="ma-0 mb-2 ml-2" dark v-model="selectedGroup.filetype" row>
                            <v-radio color="#62929a" label=".zip" value=".zip"></v-radio>
                            <v-radio color="#62929a" label=".7z" value=".7z"></v-radio>
                        </v-radio-group>

                        <p>Compression Level</p>
                        <p style="margin-top: -15px; color: #999999">Higher is better but slower</p>
                        <v-radio-group class="ma-0 ml-2" dark v-model="selectedGroup.compression" row>
                            <v-radio color="#62929a" label="0" value="0"></v-radio>
                            <v-radio color="#62929a" label="3" value="3"></v-radio>
                            <v-radio color="#62929a" label="5" value="5"></v-radio>
                            <v-radio color="#62929a" label="7" value="7"></v-radio>
                            <v-radio color="#62929a" label="9" value="9"></v-radio>
                        </v-radio-group>

                    </v-col>
                    <v-col class="col-8 px-12">
                        <p style="color: #999999">Paths</p>
                        <div style="clear: both"></div>
                        <div v-for="(path, index) in selectedGroup.paths" :key="path">
                            <v-btn class="mr-2" style="float: left; text-align: left!important;"
                                   id="folderLocation"
                                   @click="setFolderLocation(index)"
                                   depressed dark color="#62929a"><i
                                    class="fas fa-search fa-lg"></i><span
                                    style="margin-top: 2px; margin-left: 10px;">Browse</span></v-btn>
                            <v-btn class="mr-2" style="float: left;"
                                   @click="setFolderLocation(index)"
                                   depressed dark color="#62929a"><i
                                    class="fas fa-times fa-lg"></i>Remove</v-btn>
                            <v-text-field dense outlined :value="path">
                            </v-text-field>
                        </div>

                        <v-btn dark depressed color="#62929a" @click="addPath" small>Add Path</v-btn>
                    </v-col>

                    <v-col class="col-12 px-12 pa-12">
                        <v-btn @click="saveGroup" style="text-align: left!important; margin-top: 10px; " small
                               depressed dark color="#62929a"><i class="far fa-save fa-lg"></i><span
                                style="margin-top: 2px; margin-left: 10px;">Save Group</span></v-btn>
                        <v-btn @click="editGroupDialog = false" class="mx-4"
                               style="text-align: left!important; margin-top: 10px; " small
                               depressed dark color="#62929a"><i class="fas fa-times fa-lg"></i><span
                                style="margin-top: 2px; margin-left: 10px;">Close</span></v-btn>
                    </v-col>
                </v-row>
            </v-card>
        </v-dialog>

        <v-dialog persistent v-model="backupOnGoing.status" overlay-color="#202225" overlay-opacity="1">

            <h1 v-if="!backupOnGoing.finished" class="pl-12">Backup Running</h1>
            <h1 v-else class="pl-12">Backup <span style="color:#8BC34A;">Finished</span> </h1>
            <p v-if="!backupOnGoing.finished" class="pl-12 mb-12">running since </p>
            <p v-if="backupOnGoing.finished" class="pl-12 mb-12">finished at</p>

                <div v-for="(text) in backupOnGoing.text" :key="text" class="pl-12">
               <p class="ma-1" style="color: #777; font-size: 16px;">{{text.split('-')[0]}} <span style="font-size: 16px; margin-left: 50px; color: #cad2c5">{{text.split('-')[1]}}</span></p>
                </div>

            <h3 v-if="!backupOnGoing.finished" class="pl-12">Please wait or check commandline for status</h3>

            <v-btn @click="backupFinished" width="100px" v-if="backupOnGoing.finished" class="mt-12 ml-12" dark depressed color="#62929a" small>Close</v-btn>

        </v-dialog>

        <v-dialog v-model="showLogsModel" overlay-color="#202225" overlay-opacity="1">

            <v-btn @click="clearLogs" width="100px" class="ml-12 mb-4" dark depressed color="#62929a" small>Clear Logs</v-btn>
            <h1 class="pl-12">Logs</h1>



            <p class="pl-12 mb-12">Display Logs from Backup Group x</p>

            <div class="my-12" v-for="(log) in selectedGroup.logs" :key="log">
                <div class="pl-12" v-for="enties in log" :key="enties">
                {{enties}}
                </div>
            </div>

            <v-btn @click="backupFinished" width="100px" v-if="showLogs = false" class="mt-12 ml-12" dark depressed color="#62929a" small>Close</v-btn>

        </v-dialog>


    </div>
</template>

<script>


    import moment from 'moment'

    export default {
        name: 'landing-page',
        data() {
            return {
                groups: {},
                groupsloaded: false,
                selectedGroup: {},
                editGroupDialog: false,
                showLogsModel: false,
                backupOnGoing: {
                    status: false,
                    text: [],
                    finished: false,
                }
            }
        },


        methods: {

            editGroup: function (group) {

                this.selectedGroup = group
                this.editGroupDialog = true
            },
            displayLogs: function (group) {

                this.selectedGroup = group
                this.showLogsModel = true
            },

            clearLogs: function () {

                this.selectedGroup.logs = []

                const fs = require("fs");
                this.saveGroup()
                fs.writeFileSync('db.json', JSON.stringify(this.groups), function (err) {
                    console.log(err)
                });


            },

            addPath: function () {

                this.selectedGroup.paths.push("...")
            },

            setFolderLocation: function (index) {

                const {dialog} = require('electron').remote;
                let self = this;

                dialog.showOpenDialog({
                    properties: ['openDirectory']
                }).then(result => {
                    console.log(result)
                    console.log(self.selectedGroup.paths)
                    self.selectedGroup.paths.splice(index, 1, result.filePaths[0])
                }).catch(err => {
                    console.log(err)
                })

                ;
            },

            saveGroup: function () {


                let foundGroup = this.groups.findIndex(x => x.name == this.selectedGroup.name);
                this.groups[foundGroup] = this.selectedGroup

                const fs = require("fs");


                fs.writeFileSync('db.json', JSON.stringify(this.groups), function (err) {
                    console.log(err)
                });

                this.editGroupDialog = false;


            },


            startBackup: function (group) {

                this.progressBarValue = 0;
                this.backupOnGoing.status = true
                this.backupOnGoing.text.push(moment().locale('de-at').format('LTS').toString() + " - Backup Started" )
                group.logs.push([moment().locale('de-at').format('LTS').toString() + " - Backup Started"])

                let self = this;

                let compressionParams = "-mx=" + group.compression;

                setTimeout(function () {
                    for (let i = 0; i < group.paths.length+1; i++) {
                        setTimeout(function () {
                           if(i != 0) {
                                self.backupOnGoing.text.push( moment().locale('de-at').format('LTS').toString() +  " - finished")
                                group.logs[group.logs.length - 1].push(moment().locale('de-at').format('LTS').toString() +  " - finished")
                            }
                            if(i < group.paths.length){
                                self.backupOnGoing.text.push(moment().locale('de-at').format('LTS').toString() + " - + added '" + group.paths[i] + "' to archive")
                                group.logs[group.logs.length - 1].push(moment().locale('de-at').format('LTS').toString() +  " - + added '" + group.paths[i] + "' to archive")
                                var exec = require('child_process').execSync;
                                exec('start "GroupBackup in Progress! ' + (i + 1) + '/' + group.paths.length + '" cmd.exe /C "C:\\Program Files\\7-Zip\\7z.exe" a ' + group.to + "/" + group.name + group.filetype + " " + group.paths[i] + ' -bb1 ' + compressionParams)
                            }else{
                                self.backupOnGoing.text.push(moment().locale('de-at').format('LTS').toString() + " - Backup Done!")
                                group.logs[group.logs.length - 1].push(moment().locale('de-at').format('LTS').toString() + " - Backup Done!")
                                self.backupOnGoing.finished = true
                            }
                        }, 1000);
                    }
                }, 1000);
            },


            backupFinished: function () {

                this.backupOnGoing = {
                    status: false,
                        text: [],
                        finished: false,
                }

                const fs = require("fs");
                this.saveGroup()
                fs.writeFileSync('db.json', JSON.stringify(this.groups), function (err) {
                    console.log(err)
                });


            }


        },


        mounted() {
            const fs = require("fs");
            let file = fs.readFileSync('db.json')
            this.groups = JSON.parse(file)
            this.groupsloaded = true;
            console.log(this.groups)
        }

    }
</script>

<style>

    .v-btn__content {
        justify-content: left !important;
        font-size: 12px !important;
    }

    .v-dialog, v-dialog--active {
        margin: 10px !important;
        border-radius: 0px !important;
        box-shadow: none !important;


    }


</style>
