<template>
    <div>
        <v-alert type="error">
            Beta Version mit Bugs!
        </v-alert>
        <h1>BackMeUp</h1>
        <p style="margin-top: 5px; color: #999999">Simple Backup Solution</p>

        <v-row style="margin-top: 20px">
            <v-col class="col-lg-4">
                <div style="background: #62929a; margin: 10px; height: 85px; padding: 10px">
                    <h3>Backups Made:</h3>
                    <p style="font-size: 38px">{{file.backupsMade}}</p>
                </div>
            </v-col>
            <v-col class="col-lg-4">
                <div style="background: #62929a; margin: 10px; height: 85px; padding: 10px">
                    <h3>Groups:</h3>
                    <p style="font-size: 38px">{{file.groups}}</p>
                </div>
            </v-col>
            <v-col class="col-lg-4">
                <div style="background: #62929a; margin: 10px; height: 85px; padding: 10px">
                    <h3>All Time Backup Size:</h3>
                    <p style="font-size: 38px">{{file.allTimeBackupsMade}}</p>
                </div>
            </v-col>
        </v-row>
    </div>
</template>

<script>


    export default {
        name: 'landing-page',
        data() {
            return {
                file: {}
            }
        },



        methods: {
            change: function () {


                const remote = require('electron').remote;
                var window = remote.getCurrentWindow();
                window.minimize();

                const fs = require("fs");
                let file = fs.readFileSync('db.json')
                console.log(JSON.parse(file))



            },
            open(link) {
                this.$electron.shell.openExternal(link)
            }
        },
        mounted() {

            const fs = require("fs");
            let filesize = require("filesize");
            let file = fs.readFileSync('settings.json')
            this.file = JSON.parse(file)
            this.file.allTimeBackupsMade = filesize(this.file.allTimeBackupsMade)


        }

    }
</script>

<style>

    .v-btn__content {
        justify-content: left !important;
        font-size: 12px !important;
    }
</style>
