<template>
    <div>
        <h1>Manual Backup</h1>
        <p style="margin-top: 5px; color: #999999">Make a manual Backup of a File or Folder</p>

        <v-row no-gutters style="margin-top:10px">

            <v-col class="col-6">
                <p>Backup Name</p>
                <p style="margin-top: -15px; color: #999999">Set your backup name</p>
                <v-text-field
                        style="width: 50%; float: left"
                        dark
                        color="white"
                        outlined
                        dense
                        label="Name"
                        v-model="backupName"
                ></v-text-field>
                <v-radio-group style="float: left" class="ma-0 ml-2" dark v-model="radios" row>
                    <v-radio color="#62929a" label=".zip" value=".zip"></v-radio>
                    <v-radio color="#62929a" label=".7z" value=".7z"></v-radio>
                </v-radio-group>
            </v-col>
            <v-col class="col-6">
                <p>Compression Level</p>
                <p style="margin-top: -15px; color: #999999">Higher is better but slower</p>
                <v-radio-group class="ma-0 ml-2" dark v-model="zipCompressionLevel" row>
                    <v-radio color="#62929a" label="0" value="0"></v-radio>
                    <v-radio color="#62929a" label="3" value="3"></v-radio>
                    <v-radio color="#62929a" label="5" value="5"></v-radio>
                    <v-radio color="#62929a" label="7" value="7"></v-radio>
                    <v-radio color="#62929a" label="9" value="9"></v-radio>
                </v-radio-group>
            </v-col>
            <v-col class="col-12">
                <v-switch
                        class="ma-0"
                        v-model="folder"
                        color="#62929a"
                        dark
                        label="Backup a whole folder recursively"
                ></v-switch>
            </v-col>

            <v-col v-if="folder" class="col-12">
                <p>Folder Location</p>
            </v-col>
            <v-col v-if="folder" class="col-8">
                <v-text-field
                        readonly
                        dark
                        color="white"
                        outlined
                        dense
                        label="Path"
                        v-model="selectedPath"
                ></v-text-field>
            </v-col>
            <v-col v-if="folder" class="col-4">
                <v-btn class="mx-2" style="text-align: left!important;"
                       id="folderLocation"
                       @click="folderLocation()"
                       depressed dark color="#62929a"><i
                        class="fas fa-search fa-lg"></i><span
                        style="margin-top: 2px; margin-left: 10px;">Browse</span></v-btn>
            </v-col>

            <v-col v-if="!folder" class="col-12">
                <p>File Location</p>
            </v-col>
            <v-col v-if="!folder" class="col-8">
                <v-text-field
                        readonly
                        dark
                        color="white"
                        outlined
                        dense
                        label="Path"
                        v-model="selectedPath"
                ></v-text-field>
            </v-col>
            <v-col v-if="!folder" class="col-4">
                <v-btn class="mx-2" style="text-align: left!important;"
                       id="fileLocation"
                       @click="fileLocation()"
                       depressed dark color="#62929a"><i
                        class="fas fa-search fa-lg"></i><span
                        style="margin-top: 2px; margin-left: 10px;">Browse</span></v-btn>
            </v-col>

            <v-col class="col-12">
                <p>Save to Location</p>
            </v-col>

            <v-col class="col-8">
                <v-text-field
                        readonly
                        dark
                        color="white"
                        outlined
                        dense
                        label="Path"
                        v-model="savetoPath"
                ></v-text-field>
            </v-col>
            <v-col class="col-4">
                <v-btn class="mx-2" style="text-align: left!important;"
                       id="saveToLocation"
                       @click="saveToLocation()"
                       depressed dark color="#62929a"><i
                        class="fas fa-search fa-lg"></i><span
                        style="margin-top: 2px; margin-left: 10px;">Browse</span></v-btn>
            </v-col>

            <v-col class="col-12">
                <v-btn @click="backupFile" class="my-2" style="text-align: left!important; margin-top: 10px; " small
                       depressed dark color="#62929a"><i
                        class="fas fa-play-circle fa-lg"></i><span
                        style="margin-top: 2px; margin-left: 10px;">Backup File</span></v-btn>


            </v-col>
        </v-row>

        <v-snackbar
                v-model="finished"
                color="green"
                :timeout="20000"
        >
            Backup Name.zip finished! Est. Size: {{filesize}}

        </v-snackbar>

        <v-snackbar
                v-model="started"
                color="#62929a"
        >
           Backup started! Est. Size: {{filesize}}

        </v-snackbar>

    </div>
</template>

<script>


    export default {
        data() {
            return {
                selectedPath: "",
                savetoPath: "",
                finished: false,
                backupname: "",
                radios: ".zip",
                zipCompressionLevel: "5",
                folder: false,
                backupName: "Backup",
                filesize: "0MB",
                started: false,
            }
        },


        methods: {
            fileLocation: function () {

                // const fs = require("fs");
                const {dialog} = require('electron').remote;

                dialog.showOpenDialog({
                    properties: ['openFile']

                }).then(result => {
                    this.selectedPath = result.filePaths;

                }).catch(err => {
                    console.log(err)
                })

                ;

            },
            folderLocation: function () {

                // const fs = require("fs");
                const {dialog} = require('electron').remote;


                dialog.showOpenDialog({
                    properties: ['openDirectory']


                }).then(result => {
                    this.selectedPath = result.filePaths;
                }).catch(err => {
                    console.log(err)
                })

                ;

            },

            saveToLocation: function () {

                // const fs = require("fs");
                const {dialog} = require('electron').remote;


                dialog.showOpenDialog({
                    properties: ['openDirectory']
                }).then(result => {
                    this.savetoPath = result.filePaths;
                }).catch(err => {
                    console.log(err)
                })

                ;

            },

            backupFile: function () {
                let self = this;
                const fs = require("fs");
                let file = JSON.parse(fs.readFileSync('settings.json'))

                let fsUtils = require("nodejs-fs-utils");
                let filesize = require("filesize");
                console.log(this.selectedPath)
                let size = fsUtils.fsizeSync(this.selectedPath[0]);
                console.log(filesize(size))
                this.filesize = filesize(size);
                this.started = true;





                let compressionParams = "-mx=" + self.zipCompressionLevel;
                var exec = require('child_process').exec,

                    ls = exec('start "Backup in Progress.." cmd.exe /C "C:\\Program Files\\7-Zip\\7z.exe" a ' + this.savetoPath[0] + "/" + this.backupName + this.radios + " " + this.selectedPath[0] + ' -bb1 ' + compressionParams);

                file.backupsMade++
                file.allTimeBackupsMade+= size
                console.log(file)
                fs.writeFileSync('settings.json', JSON.stringify(file));

                ls.stdout.on('end', function () {
                    self.started = false
                    self.finished = true;
                });
            },
        }
    }
</script>

<style>

    .v-btn__content {
        justify-content: left !important;
        font-size: 12px !important;
    }
</style>
