<template>
    <div style="height: 50px; padding: 10px; -webkit-app-region: drag;">
        <div style="height: 100%; width: 100%">
            BackMeUP
        </div>
    </div>
</template>

<script>


    export default {
        name: 'landing-page',
        data() {
            return {
                out: "no"
            }
        },

        methods: {
            change: function () {

                const fs = require("fs");
                const remote = require('electron').remote;
                var window = remote.getCurrentWindow();
                window.minimize();

                let file = fs.readFileSync('db.json');
                console.log(JSON.parse(file))

            },


            open(link) {
                this.$electron.shell.openExternal(link)
            }
        }
    }
</script>

<style>

</style>
