<template>
  <v-app>
  <div id="app">
    <v-row no-gutters>
      <v-col style="height: 5vh" class="col-12">

      </v-col>
      <v-col style="background: #202225; min-height: 95vh; padding: 15px; padding-top: 0px;" class=" col-xl-2 col-lg-2 col-md-3 col-sm-4 col-5">
        <h2>Menu</h2>
        <p style="font-size: 11px; color: #999;">Navigation</p>
        <router-link to="/">
          <v-btn style="text-align: left!important;margin-top: 5px" block depressed dark v-bind:style="[this.$route.path == '/' ? {'background-color': '#62929a !important'} : {'background-color': '#202225!important'}]"><i
                  class="fas fa-home fa-lg"></i><span
                  style="margin-top: 2px; margin-left: 10px;">Dashboard</span></v-btn>
        </router-link>
        <router-link to="/manualBackUp">
        <v-btn style="text-align: left!important;margin-top: 5px" block depressed dark v-bind:style="[this.$route.path == '/manualBackUp' ? {'background-color': '#62929a !important'} : {'background-color': '#202225!important'}]"><i
                class="fas fa-home fa-lg"></i><span style="margin-top: 2px; margin-left: 10px;">Manual Backup</span>
        </v-btn>
        </router-link>
        <router-link to="/groups">
          <v-btn style="text-align: left!important;margin-top: 5px" block depressed dark v-bind:style="[this.$route.path == '/groups' ? {'background-color': '#62929a !important'} : {'background-color': '#202225!important'}]"><i
                  class="fas fa-home fa-lg"></i><span
                  style="margin-top: 2px; margin-left: 10px;">Groups</span></v-btn>
        </router-link>
      </v-col>
      <v-col style="background: #2f3136; min-height: 95vh; padding: 20px; border-top-left-radius: 15px" class=" col-xl-10 col-lg-10 col-md-8 col-sm-8 col-5">
        <router-view></router-view>
      </v-col>

    </v-row>
  </div>
  </v-app>
</template>

<script>


  export default {
    name: 'backmeup',
    data() {
      return {}
    }
  }
</script>

<style>

  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

  #app {
    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
    color: #cad2c5;
    font-size: 13px;
    background: #202225;
  }


  body {
    margin: 0;
  }

  a {
    text-decoration: none;

  }
</style>
